<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-hot-code-push-local-dev-addon" version="0.4.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>Hot Code Push Local Development Addon</name>
  <description>Cordova plugin that add's local development feature to the Hot Code Push plugin</description>
  <license>MIT</license>
  <keywords>cordova,code,update</keywords>

  <repo>https://github.com/nordnet/cordova-hot-code-push-local-dev-addon</repo>
  <issue>https://github.com/nordnet/cordova-hot-code-push-local-dev-addon/issues</issue>

  <engines>
    <engine name="cordova-android" version=">=4"></engine>
    <engine name="cordova-plugman" version=">=4.2.0"></engine>
    <!-- needed for gradleReference support -->
  </engines>

  <!-- JavaScrip Library Sources -->
  <js-module name="chcpLocalDev" src="www/chcpLocalDev.js">
    <clobbers target="chcpLocalDev"/>
  </js-module>

  <!-- Hooks -->
  <hook type="after_prepare" src="scripts/afterPrepareHook.js" />
  <hook type="before_plugin_install" src="scripts/beforePluginInstallHook.js" />


  <platform name="android">
    <!-- Plugin inclusion in Cordova config.xml -->
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="HotCodePushLocalDevMode">
        <param name="android-package" value="com.nordnetab.chcp.localdev.HotCodePushLocalDevPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <!-- Gradle config -->
    <framework custom="true" src="src/android/chcp-localdev.gradle" type="gradleReference"/>

    <!-- sources for package: com.nordnetab.chcp.localdev -->
    <source-file src="src/android/src/com/nordnetab/chcp/localdev/HotCodePushLocalDevPlugin.java" target-dir="src/com/nordnetab/chcp/localdev"/>

    <!-- sources for package: com.nordnetab.chcp.localdev.config -->
    <source-file src="src/android/src/com/nordnetab/chcp/localdev/config/ChcpXmlConfig.java" target-dir="src/com/nordnetab/chcp/localdev/config"/>
    <source-file src="src/android/src/com/nordnetab/chcp/localdev/config/ChcpXmlConfigParser.java" target-dir="src/com/nordnetab/chcp/localdev/config"/>
    <source-file src="src/android/src/com/nordnetab/chcp/localdev/config/DevelopmentOptions.java" target-dir="src/com/nordnetab/chcp/localdev/config"/>
    <source-file src="src/android/src/com/nordnetab/chcp/localdev/config/XmlTags.java" target-dir="src/com/nordnetab/chcp/localdev/config"/>

  </platform>
</plugin>
